*{
    box-sizing: border-box;
    
}

body {
    background-color: blue;
}

.shortcuts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly
}

.header{
    text-align: center;
}

a{
    color: black;
    text-decoration: none;
}

.container {
    display: flex;
  }
  
.left-half {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-color: grey;
    font-size: large;
}

.left-half img{
    width: 50%;
    height: 50%;
    display: flex;
    flex: 33.33%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

.imgTitle{
    text-align: center;
    font-weight: bold;
}
  
.right-half {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-color: darkgrey;
    font-size: large;
}

.right-half ol{
        display: table;
        margin: 0 auto;
}

h2 {
    text-align: center;
}

.project1{
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-color: red;
    font-weight: bold;
    text-align: center;
}

.project1 img{
    height: 300px;
    width: 450px;
}

.project2{
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-color: cadetblue;
}

.project3{
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-color: darkolivegreen;
}